<%= turbo_stream.prepend 'ledger_entry_details' do %>
  <div class="animate__animated animate__bounce">
    <script>
      debugger
    </script>
    <%= render partial: 'ledger_entry_detail', locals:{ledger_entry_detail: @ledger_entry_detail } %>
  </div>

<% end %>